/* Screen md 768px */
@media screen and (min-width: 768px) {
    /* Variables */
    :root{
        /* Height */
        --section-jumbo-height: 650px;
    }
}

/* Screen lg 992px*/
@media screen and (min-width: 992px){
    /* Variables */
    :root{
        /* Height */
        /* --section-jumbo-height: 692px; */
        --section-jumbo-height: 600px;
    }
}

/* Screen xl 1200px*/
@media screen and (min-width: 1200px){
    /* Variables */
    :root{
        /* Height */
        --section-jumbo-height: 692px;
    }

    /* Layout */
    header .container-lg{
        max-width: 950px;
    }

    #jumbotron .container{
        max-width: 900px;
    }
}

