/* COMMON */
html{
    font-size: 100%;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
}

a{
    text-decoration: none;
}

/* Variables */
:root{
    /* Palette */
    --ms_grey: #d6d6d6;
    --ms_black: #000000;
    --ms_white: #fbfbfd;

    /* Height */
    --section-jumbo-height: 500px;
}

/* Background */
.ms_bg-black{
    background-color: var(--ms_black);
}

.ms_bg-white{
    background-color: var(--ms_white);
}

/* Font size */
.ms_fs-1{
    font-size: calc(1.5rem + 1vw);
}

.ms_fs-2{
    font-size: calc(1rem + 1vw);
    font-weight: 100;
}

.ms_fs-3{
    font-size: calc(.5rem + 1vw);
    font-weight: 100;
}

/* Hamburger menu */
.hamburger{
    display: block;
    width: 20px;
    height: 50px;
    position: relative;
}

.hamburger::after,
.hamburger::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--ms_grey);
    position: absolute;
    transition: transform .5s linear;
}

.hamburger::before{
    top: 35%;
}

.hamburger::after{
    top: 55%;
}

/* Hamburger menu Open*/
.container-lg.hamburger-menu-open{
    background-color: var(--ms_black);
    overflow: hidden;
    height: 100vh;
    animation: menuOpen .5s linear;
}

@keyframes menuOpen {
    from{
        height: 0vh;
    }
    to{
        height: 100vh;
    }
}

/* Button close menu */
.container-lg.hamburger-menu-open .hamburger::after{
    transform: rotate(135deg)!important;
    top: 50%;
}

.container-lg.hamburger-menu-open .hamburger::before{
    transform: rotate(45deg)!important;
    top: 50%;
}

/* Content menu*/
.hamburger-menu-open .ms_header-navbar .hamburger-content,
.hamburger-menu-open .hamburger-content li:first-child .search-bar-menu{
    display: block!important;
}

.hamburger-menu-open .hamburger-content li:first-child a,
.hamburger-menu-open .hamburger-content li:last-child,
.hamburger-menu-open .hamburger-content li:nth-child(12){
    display: none;
}

.hamburger-menu-open .hamburger-content li{
    padding: 1em 2.5em;
    color: grey;
}

.hamburger-menu-open .hamburger-content li:first-child{
    padding-bottom: .5em;
    border-bottom: 1px solid grey;
}

.hamburger-menu-open .hamburger-content li:first-child #search-hamburger{
    width: 100%;
    padding: .5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #1d1d1f;
}

.hamburger-menu-open .hamburger-content li:first-child .search-bar-menu{
    position: relative;
}

.hamburger-menu-open .hamburger-content li:first-child .search-bar-menu label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
}

.hamburger-menu-open .hamburger-content li:first-child #search-hamburger:focus-visible{
    outline: none;
}

.hamburger-menu-open .hamburger-content li a{
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid grey;
}


/* HEADER */
header{
    background-color:#000c;
    color: var(--ms_grey);
}

.ms_header-navbar ul li a{
    text-decoration: none;
    color: inherit;
    font-size: .8rem;
}

/* MAIN */
/* Section Iphone 14 Pro */
#jumbotron .container,
#jumbotron .container-xl,
#jumbotron .container-fluid{
    height: var(--section-jumbo-height);
    position: relative;
    overflow: hidden;
}

.section-title{
    position: relative;
    z-index: 2;
    padding-top: 2em;
    color: #fff;
    text-align: center;
}

.section-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.section-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section Apple Watch */
.logo-watch{
    width: 20%;
}